.app_purple_theme {
  --bg-color: #760bab;
  --inverted-bg-color: #f8f4fb;
  --primary-color: #f8f4fb;
  --inverted-primary-color: #760bab;
  --secondary-color: #130986;
  --inverted-secondary-color: #130986;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  //code
  --code-bg: #fff;

  //card
  --card-bg: #f8f4fb;

  //--listbox-bg
  --listbox-bg: #f8f4fb;

}
